*.pyc
*~
*#
doc/_build
doc/examples
examples/documentation
doc/*.pdf
doc/*.dat
doc/*.csv
doc/extensions.py
build
dist
lmfit.egg-info
sandbox/
*.swp
.idea/
.DS_Store
.ipynb_checkpoints/
.vscode/
doc/html
doc/*.sav
parameters.sav
tmpvoigt_modelresult.sav
examples/*.sav
.pytest*
*.coverage*
*htmlcov/*
.eggs
lmfit/version.py
