# Config file for automatic testing at travis-ci.org

language: python

python:
    - 2.7
    - 3.5
    - 3.6
    - 3.7

# test with the minium required and latest versions of dependencies
env:
    - version=minimum  # asteval>=0.9.16 numpy>=1.16 scipy>=1.2 six>=1.11 uncertainties>=3.0.1
    - version=latest

# test Python 3.8 development version
matrix:
  include:
    - python: 3.8-dev
      env:
        - version=latest
      addons:
        apt:
          packages:
          - libatlas-dev
          - libatlas-base-dev
          - liblapack-dev
          - gfortran
          - libgmp-dev
          - libmpfr-dev
          - libsuitesparse-dev
          - ccache
          - swig
          - libmpc-dev
  allow_failures:
    - python: 3.8-dev
  fast_finish: true

before_install:
    - python -m pip install --upgrade pip setuptools

install:
    - if [[ $version == minimum ]]; then pip install asteval==0.9.16 numpy==1.16 scipy==1.2 six==1.11 uncertainties==3.0.1 pytest coverage codecov; fi
    - if [[ $version == latest ]]; then pip install -r requirements-dev.txt ; fi
    - python setup.py install
    - pip list

script:
    - cd tests
    - coverage run --source=lmfit -m pytest
    - coverage report -m
    # test building the documentation
    - if [[ $version == latest && $TRAVIS_PYTHON_VERSION == 3.7 ]]; then cd ../doc ; make ; fi

after_success:
    - codecov
