# Config file for automatic testing at travis-ci.org

language: python

python:
    - 2.7
    - 3.3

before_install:
    - wget http://repo.continuum.io/miniconda/Miniconda3-3.5.5-Linux-x86_64.sh -O miniconda.sh
    - chmod +x miniconda.sh
    - ./miniconda.sh -b
    - export PATH=/home/travis/miniconda3/bin:$PATH
    - conda config --add channels https://conda.binstar.org/dan_blanchard
    - conda update --yes conda

install:
    - conda install --yes pip python=$TRAVIS_PYTHON_VERSION numpy scipy pandas matplotlib dateutil nose
    - python setup.py install

script:
    - cd tests
    - nosetests
