# Config file for automatic testing at travis-ci.org

language: python

env:
    - PYTHON=python PYSUF='' # uses Python 2.7
    - PYTHON=python3 PYSUF=3 # uses Python 3.2

# command to install dependencies
install:
  # Deactivate the virtualenv to get fast install of dependencies
  - deactivate
  - time sudo apt-get install -qq $PYTHON-numpy $PYTHON-scipy $PYTHON-sphinx $PYTHON-nose $PYTHON-pip
  - time sudo pip -q install --use-mirrors uncertainties asteval
  - sudo python$PYSUF setup.py install
script:
  # Execute the unit tests
  # For now running nosetests doesn't work.
  - cd tests
  - $PYTHON test_covar.py
  # Generate the docs
  - cd ../doc
  - make html