include README.txt INSTALL LICENSE MANIFEST.in PKG-INFO 
include setup.py publish_docs.sh
exclude *.pyc core.* *~ *.pdf
recursive-include lib *.py
recursive-include tests *.py 
recursive-include doc *
recursive-exclude doc/_build *
recursive-exclude doc *.pdf
