-r requirements.txt
cairosvg
codecov
corner
coverage
dill
emcee>=3.0.0
flaky
jupyter_sphinx>=0.2.4
matplotlib
numdifftools
pandas
Pillow
pre-commit
pycairo;platform_system=="Windows"
pytest
pytest-cov
Sphinx
sphinx-gallery>=0.10
sphinxcontrib-svg2pdfconverter
sympy
